doctype html
html
  head
    link(rel='stylesheet' href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.3.5/bootstrap-select.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/lib/d3.v3.min.js')
    script(src='/lib/jquery-1.11.0.min.js')
    script(src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.3.5/bootstrap-select.min.js')
  body
    block content
    script(src='/javascripts/main.js')
