doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/d3.v3.min.js')
    script(src='/lib/jquery-1.11.0.min.js')
  body
    block content
    script(src='/javascripts/main.js')